{% extends 'index.html' %}

{% block stylingblock %}

    <style>

    #Map {
        border: 1px solid #808080;
        box-shadow: 5px 5px #808080;
        margin-top: 5px;
        width: 100%;
        height: 450px;
    }


    </style>

    <!-- slider styling and script-->
    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function () {
           var slider = document.getElementById("rating");
           var output = document.getElementById("currentRating");
           output.innerHTML = slider.value;

           slider.oninput = function() {
               output.innerHTML = this.value;
           }
        });
    </script>

{% endblock %}

{% block scriptblock %}

    <script>

        var currentmarker = 'undefined';
        var number_of_active_markers = 0;

        function initMap() {
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.12),
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                gestureHandling: 'none',
                zoomControl: false,
                fullscreenControl: false
            }
            map = new google.maps.Map(document.getElementById("Map"), mapOptions);

            northeastcorner = new google.maps.LatLng({{ map.northeastcorner }});
            southwestcorner = new google.maps.LatLng({{ map.southwestcorner }});
            bounds = new google.maps.LatLngBounds(northeastcorner, southwestcorner);
            map.fitBounds(bounds);

            google.maps.event.addListener(map,'click',function(event) {
                if (number_of_active_markers == 0) {
                    placeMarker(event.latLng);
                    number_of_active_markers += 1;
                    alert("Hold å dra for å tegne!");
                } else {
                    alert("Lagre nåværende Område/Vei for å kunne legge ett til");
                }
            });

        };

        // function to place a marker on the map
        var points = [];
        var lines = [];
        function placeMarker(location) {
            marker = new google.maps.Marker({
                position: location,
                map: map
            });

            marker.setDraggable(true);
            currentmarker = marker;
            $('#center').val(location);

            // events to enable drawing on map
            google.maps.event.addListener(currentmarker,'dragstart',function() {
                if (points.length != 0) {
                    points = [];
                }
                if (lines.length != 0) {
                    for (var i = 0; i < lines.length; i++) {
                        lines[i].setMap(null);
                    }
                }
            });

            google.maps.event.addListener(currentmarker,'drag',function() {
                points.push(currentmarker.getPosition());
                var line = new google.maps.Polyline({
                    path: points,
                    strokeColor: "#0000FF",
                    strokeOpacity: 0.8,
                    strokeWeight: 2
                });
                lines.push(line);
                line.setMap(map);
            });

            google.maps.event.addListener(currentmarker,'dragend',function() {
                var center = computeCentroid(points);
                currentmarker.setPosition(center);
                //currentmarker = "undefined";

                var geo_coordinates = "";
                for (var i = 0; i < points.length; i++) {
                    var point = points[i].toString()
                    point = point.replace("(","");
                    point = point.replace(")","");
                    point = point.replace(", "," ");

                    if (i != points.length-1) point += ",";

                    geo_coordinates += point;
                };


                $("#coordinates").val(geo_coordinates);
                $("#center").val(center);
            });

            number_of_active_markers = 1;
        }


        // function to register the area/road in the database
        // check if the area/road cordinates are available, and if the center is available as well
                    // if so, add to database by
                            // if mistake under inserting a new shape
                                // flash a notification
                            // if success,
                                // flash a notification
                                // empty fields
                                // set number_of_active_markers = 0

                    // if Not, check what is missing (center or area/road coordinates)
                        // if center is missing,
                            // warn the user to click on the map
                        // if the area/road coordinates is missing,
                            // warn the user to draw an area or road

        function register() {
            if ($('#center').val() != '' || $("#coordinates").val() != '') {
                var mapid = $('#mapid').val();
                var title = $('#title').val();
                var description = $('#description').val();
                var rating = $('#rating').val();
                var center = $('#center').val();
                var area_or_path = $("#coordinates").val();
                $.post("/registerShape",
                    {map_id: mapid , icon: "the icon url", shape_type: "Road", center: center,
                        area_or_path: area_or_path, title: title, description: description, rating: rating},
                    function(data,status) {
                        if (data == 'OK' && status == 'success') {
                            $('#center').val('');
                            $('#title').val('');
                            $('#description').val('');
                            $('#rating').val('2');
                            $('#currentRating').html('2');
                            $("#coordinates").val('');

                            alert("Punktet er lagt til kartet");

                            number_of_active_markers = 0
                            points = [];
                            lines = [];

                        } else {
                            alert('En feil har skjedd prøv igjen');
                        }
                });
            } else {
                if ($("#coordinates").val() != '') {
                    alert('Du bør tegne et område/vei på kartet, hold og dra');
                } else if ($('#center').val() != '') {
                    alert('Legg et markør på kartet');
                }
            }
        }


        // function to compute the centroid
        function computeCentroid(pointsarray) {
            var number_of_points = pointsarray.length;
            var latitude = 0;
            var longtitude = 0;
            for (var i = 0; i < number_of_points; i++) {
                latitude += pointsarray[i].lat();
                longtitude += pointsarray[i].lng();
            }
            centroid = new google.maps.LatLng((latitude / number_of_points), (longtitude / number_of_points));
            return centroid;
        };

        function emptyForm() {
            if (number_of_active_markers > 0) {
                $('#center').val('');
                $('#currentRating').html('2');
                marker.setMap(null);
                number_of_active_markers = 0;

                if (points.length != 0) {
                    points = [];
                }
                if (lines.length != 0) {
                    for (var i = 0; i < lines.length; i++) {
                        lines[i].setMap(null);
                    }
                }
            }
        }

    </script>


{% endblock %}


{% block content  %}

<form id="AddAreaOrPointForm" onsubmit="register(); return false;">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div id="Map"></div>
                <input id="mapid" value="{{ map.mapid }}" hidden>
                <input id="center" value="" hidden>
                <input id="coordinates" value="" hidden>
            </div>

            <div class="col-lg-6">
                <h2>Fyll ut:</h2>
                <div>
                    <div>
                        <!--
                        <div id="AlertBox" class="alert alert-success alert-dismissable" hidden>
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <strong>Punktet er lagret!</strong>
                        </div>
                        -->

                        <div class="form-group">
                            <label for="title">Titel:</label>
                            <input type="title" class="form-control" id="title" placeholder="Titel" name="Title" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Beskrivelse:</label>
                            <textarea name="description" class="form-control" rows="2" id="description" placeholder="Beskrivelse" required></textarea>
                        </div>

                        <div class="slidecontainer">
                            <p>Din Vurdering: <span id="currentRating"></span></p>
                            <input name="rating" type="range" min="1" max="5" value="2" class="slider" id="rating" required>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary">Legg til</button>
                        <button type="reset" onclick="emptyForm();" class="btn btn-danger">Tøm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

    <!--
     <script src="{{url_for('static', filename='scripts/javascripteditmap.js')}}"></script>
    -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY&callback=initMap"></script>


{% endblock %}