{% extends 'index.html' %}

{% block stylingblock %}
    <!-- Link to static/edit_map_stylesheet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/edit_map_stylesheet.css') }}">
{% endblock %}

{% block scriptblock %}

    <!-- Font-Awesome plugin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JQuery Library plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap Library plugin -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Chosen icon select plugin links -->
    <link rel="stylesheet" href="../static/Icon_Selector_plugin/css/chosen.css">
    <link rel="stylesheet" href="../static/Icon_Selector_plugin/css/ImageSelect.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../static/Icon_Selector_plugin/javascript/jquery-1.11.0.min.js"></script>
    <script src="../static/Icon_Selector_plugin/javascript/chosen.jquery.js"></script>
    <script src="../static/Icon_Selector_plugin/javascript/ImageSelect.jquery.js"></script>

    <!-- link to static/Scripts/edit_map_JavaScript.js -->
    <script src="{{ url_for('static',filename='Scripts/edit_map_JavaScript.js') }}"></script>

    <script>

        // a global variable to make the map available at all methods, this is needed
        var map = null;

        // An array to keep track of the map listeners used to draw the different category types
        // (point, area, road). these listeners should be removed every time the user change shape type, to enable
        // customized enviromenet.
        var listeners = [];

        // if another info window is open, and the user clicked on another marker, this variable is used to
        // enable the user to change context to the wished marker.
        var open_info_window = null;

        // a map to store te shapes by their id's
        var shapes = [];

        function get_shapes_by_users(array_of_users) {
            if (array_of_users.length == 0 || array_of_users == undefined) return shapes;

            shapes_by_users = [];
            for (var key in shapes) {
                if (array_of_users.includes(shapes[key]["shape_creater"])) {
                    shapes_by_users[key] = shapes[key]
                }
            }
            return shapes_by_users
        }

        // function to load the registered shapes on this map
        function loadShapes() {

            // removing all shapes
            for (var key in shapes) {
                shapes[key]["marker"].setMap(null);
                if (shapes[key]["type"] != "POINT") {
                    shapes[key]["shape"].setMap(null);
                }
            }

            {% for point in points %}

                var marker_{{ point.shape_id }} = new google.maps.Marker({
                    position: new google.maps.LatLng{{ point.shape_center }},
                    icon: "../static/icons/{{ point.icon }}"
                });
                var content_window_{{ point.shape_id }} = $('#info_window').html();
                var infowindow_{{ point.shape_id }} = new google.maps.InfoWindow({
                    content: content_window_{{ point.shape_id }}
                });
                var new_point_{{ point.shape_id }} = {
                    "type": "POINT",
                    "marker": marker_{{ point.shape_id }},
                    "infowindow": infowindow_{{ point.shape_id }},
                    "center": marker_{{ point.shape_id }}.getPosition().toString(),
                    "area_or_path": "",
                    "title": "{{ point.title }}",
                    "description": "{{ point.description }}".replace("{n}","\n"),
                    "rating": "{{ point.rating }}",
                    "shape_creater": "{{ point.shape_creater }}"
                };
                shapes["{{ point.shape_id }}"] = new_point_{{ point.shape_id }};
                marker_{{ point.shape_id }}.setMap(map);
                infowindow_{{ point.shape_id }}.open(map, marker_{{ point.shape_id }});
                open_info_window = infowindow_{{ point.shape_id }};
                infowindow_{{ point.shape_id }}.close();

                shapes[{{ point.shape_id }}] = new_point_{{ point.shape_id }};

                if (clicklistener_{{ point.shape_id }} == undefined) var first_time_{{ point.shape_id }} = true;
                var clicklistener_{{ point.shape_id }} = google.maps.event.addListener(marker_{{ point.shape_id }}, 'click', function (event) {
                    handle_marker_click(infowindow_{{ point.shape_id }}, marker_{{ point.shape_id }});

                    if (first_time_{{ point.shape_id }})
                    {
                        $("input[name~='title']").val(shapes[{{ point.shape_id }}]['title']);
                        $("textarea[name~='description']").val(shapes[{{ point.shape_id }}]['description']);
                        $("input[name~='rating']").val(shapes[{{ point.shape_id }}]['rating']);
                        first_time_{{ point.shape_id }} = false;
                    }
                });

                google.maps.event.addListener(infowindow_{{ point.shape_id }}, 'domready', function () {
                    $("input[name~='title'], textarea[name~='description'], input[name~='rating']").off('blur change');
                    $("input[name~='title'], textarea[name~='description'], input[name~='rating']").on('blur change', function () {
                        shapes[{{ point.shape_id }}]['title'] = $("input[name~='title']").val();
                        shapes[{{ point.shape_id }}]['description'] = $("textarea[name~='description']").val();
                        shapes[{{ point.shape_id }}]['rating'] = $("input[name~='rating']").val();
                    });

                    $("#delete_btn").off('click');
                    $("#delete_btn").on('click', function() {
                        delete_shape({{ point.shape_id }});
                    });
                });

                google.maps.event.addListener(infowindow_{{ point.shape_id }}, 'closeclick', function () {
                    handle_outside_bounds_click();
                    handle_on_close_info_window();
                });


            {% endfor %}

            var line = null;

            {% for road in roads %}

                color = "{{ road.icon }}";
                var points_array = makearrayfromstring("{{ road.area_or_path }}");

                var Road_{{ road.shape_id }} = new google.maps.Polyline({
                    path: points_array,
                    strokeColor: color,
                    strokeOpacity: 1,
                    strokeWeight: 7
                });

                var marker_{{ road.shape_id }} = new google.maps.Marker({
                    position: points_array[Math.round(points_array.length/2)]
                });

                var content_window_{{ road.shape_id }} = $('#info_window').html();
                var infowindow_{{ road.shape_id }} = new google.maps.InfoWindow({
                    content: content_window_{{ road.shape_id }}
                });

                var theline_{{ road.shape_id }} = Road_{{ road.shape_id }};

                points_array = [];
                Road_{{ road.shape_id }}.setMap(map);
                marker_{{ road.shape_id }}.setMap(map);
                infowindow_{{ road.shape_id }}.open(map, marker_{{ road.shape_id }});
                infowindow_{{ road.shape_id }}.close();
                line_{{ road.shape_id }} = null;

                new_road_{{ road.shape_id }} = {
                    "shape": theline_{{ road.shape_id }},
                    "marker": marker_{{ road.shape_id }},
                    "type": "ROAD",
                    "infowindow": infowindow_{{ road.shape_id }},
                    "center": {{ road.shape_center }},
                    "title": "{{ road.title }}",
                    "description": "{{ road.description }}".replace("{n}","\n"),
                    "rating": "{{ road.rating }}",
                    "area_or_path": "{{ road.area_or_path }}",
                    "road": Road_{{ road.shape_id }},
                    "shape_creater": "{{ road.shape_creater }}"
                };
                shapes[{{ road.shape_id }}] = new_road_{{ road.shape_id }};

                if (clicklistener_{{ road.shape_id }} == undefined) var first_time_{{ road.shape_id }} = true;
                var clicklistener_{{ road.shape_id }} = google.maps.event.addListener(marker_{{ road.shape_id }}, 'click', function (event) {
                    handle_marker_click(infowindow_{{ road.shape_id }}, marker_{{ road.shape_id }});

                    if (first_time_{{ road.shape_id }})
                    {
                        $("input[name~='title']").val(shapes[{{ road.shape_id }}]['title']);
                        $("textarea[name~='description']").val(shapes[{{ road.shape_id }}]['description']);
                        $("input[name~='rating']").val(shapes[{{ road.shape_id }}]['rating']);
                        first_time_{{ road.shape_id }} = false;
                    }

                });

                google.maps.event.addListener(infowindow_{{ road.shape_id }}, 'closeclick', function () {
                    handle_outside_bounds_click();
                    handle_on_close_info_window();
                });

                google.maps.event.addListener(infowindow_{{ road.shape_id }}, 'domready', function () {
                    $("input[name~='title'], textarea[name~='description'], input[name~='rating']").off('blur change');
                    $("input[name~='title'], textarea[name~='description'], input[name~='rating']").on('blur change', function () {
                        shapes[{{ road.shape_id }}]['title'] = $("input[name~='title']").val();
                        shapes[{{ road.shape_id }}]['description'] = $("textarea[name~='description']").val();
                        shapes[{{ road.shape_id }}]['rating'] = $("input[name~='rating']").val();
                    });

                    $("#delete_btn").off('click');
                    $("#delete_btn").on('click', function() {
                        delete_shape({{ road.shape_id }});
                    });
                });

            {% endfor %}

            var area_{{ area.shape_id }} = null;

            {% for area in area %}
                color = "{{ area.icon }}";
                var points_array = makearrayfromstring("{{ area.area_or_path }}");

                var Area_{{ area.shape_id }} = new google.maps.Polygon({
                    path: points_array,
                    strokeColor: color,
                    strokeOpacity: 1,
                    strokeWeight: 7,
                    fillColor: color,
                    fillOpacity:0.4,
                    clickable: false
                });

                var marker_{{ area.shape_id }} = new google.maps.Marker({
                    position: computeCentroid(points_array)
                });

                var content_window_{{ area.shape_id }} = $('#info_window').html();
                var infowindow_{{ area.shape_id }} = new google.maps.InfoWindow({
                    content: content_window_{{ area.shape_id }}
                });

                var thearea_{{ area.shape_id }} = Area_{{ area.shape_id }};

                points_array = [];
                Area_{{ area.shape_id }}.setMap(map);
                marker_{{ area.shape_id }}.setMap(map);
                infowindow_{{ area.shape_id }}.open(map, marker_{{ area.shape_id }});
                infowindow_{{ area.shape_id }}.close();
                area_{{ area.shape_id }} = null;

                new_area_{{ area.shape_id }} = {
                    "shape": thearea_{{ area.shape_id }},
                    "marker": marker_{{ area.shape_id }},
                    "type": "AREA",
                    "infowindow": infowindow_{{ area.shape_id }},
                    "center": {{ area.shape_center }},
                    "title": "{{ area.title }}",
                    "description": "{{ area.description }}".replace("{n}","\n"),
                    "rating": "{{ area.rating }}",
                    "area_or_path": "{{ area.area_or_path }}",
                    "road": Area_{{ area.shape_id }},
                    "shape_creater": "{{ area.shape_creater }}"
                };
                shapes[{{ area.shape_id }}] = new_area_{{ area.shape_id }};

                if (clicklistener_{{ area.shape_id }} == undefined) var first_time_{{ area.shape_id }} = true;
                var clicklistener_{{ area.shape_id }} = google.maps.event.addListener(marker_{{ area.shape_id }}, 'click', function (event) {
                    handle_marker_click(infowindow_{{ area.shape_id }}, marker_{{ area.shape_id }});

                    if (first_time_{{ area.shape_id }})
                    {
                        $("input[name~='title']").val(shapes[{{ area.shape_id }}]['title']);
                        $("textarea[name~='description']").val(shapes[{{ area.shape_id }}]['description']);
                        $("input[name~='rating']").val(shapes[{{ area.shape_id }}]['rating']);
                        first_time_{{ area.shape_id }} = false;
                    }

                });

                google.maps.event.addListener(infowindow_{{ area.shape_id }}, 'closeclick', function () {
                    handle_outside_bounds_click();
                    handle_on_close_info_window();
                });

                google.maps.event.addListener(infowindow_{{ area.shape_id }}, 'domready', function () {
                    $("input[name~='title'], textarea[name~='description'], input[name~='rating']").off('blur change');
                    $("input[name~='title'], textarea[name~='description'], input[name~='rating']").on('blur change', function () {
                        shapes[{{ area.shape_id }}]['title'] = $("input[name~='title']").val();
                        shapes[{{ area.shape_id }}]['description'] = $("textarea[name~='description']").val();
                        shapes[{{ area.shape_id }}]['rating'] = $("input[name~='rating']").val();
                    });

                    $("#delete_btn").off('click');
                    $("#delete_btn").on('click', function() {
                        delete_shape({{ area.shape_id }});
                    });
                });

            {% endfor %}

            // displaying shapes and markers
            for (var key in shapes) {
                shapes[key]["marker"].setMap(map);
                if (shapes[key]["type"] != "POINT") {
                    shapes[key]["shape"].setMap(map);
                }
            }
        }

        function clear_map_events() {
            // removing previous eventlisteners from map
            if (listeners.length > 0) {
                for (var i = 0; i < listeners.length; i++) {
                    google.maps.event.removeListener(listeners[i]);
                    listeners[i].remove();
                }
            }
        }

        var current_shape_id = null;
        function register_shape(shape) {

            if (shape["type"] == "POINT") {
                $.post("/registerShape",
                    {
                        center: (shape["marker"].getPosition()).toString(),
                        title: (shape["title"]).toString(),
                        description: (shape["description"]).toString(),
                        rating: shape["rating"],
                        categoryID: (shape["category_ID"]).toString()
                    },
                    function (data, status) {
                        if (data != "Failed") {
                            shapes[data] = shape;
                            (shape["marker"]).setMap(map);
                            (shape["infowindow"]).open(map, shape["marker"]);
                            shape["shape_creater"] = "{{ map.logged_in_user }}";
                            open_info_window = shape["infowindow"];
                            map.setOptions({draggableCursor: undefined});
                            $("#pac-card").hide();
                            current_shape_id = data;
                            $("input[name~='New_Marker']").prop('checked', false);
                            clear_map_events();
                        } else {
                            alert("Ingen forbindelse, prøv igjen");
                        }
                    });
            }
            else if (shape["type"] == "AREA" || shape["type"] == "ROAD" )
            {
                $.post("/registerShape",
                    {
                        center: (shape["points_array"][Math.round(shape["points_array"].length / 2)]).toString(),
                        title: "",
                        description: "",
                        rating: "2",
                        categoryID: (shape["category_ID"]).toString(),
                        area_or_path: makestringfromarray(shape["points_array"])
                    },
                    function (data, status) {
                        if (data != "Failed") {

                            var road;
                            if (shape["type"] == "AREA") {
                                road = new google.maps.Polygon({
                                    path: shape["points_array"],
                                    strokeColor: color,
                                    strokeOpacity: 1,
                                    strokeWeight: 7,
                                    fillColor: color,
                                    fillOpacity: 0.4,
                                    clickable: false
                            });
                            } else {
                                road = new google.maps.Polyline({
                                    path: shape["points_array"],
                                    strokeColor: color,
                                    strokeOpacity: 1,
                                    strokeWeight: 7,
                            });
                            }
                            road.setMap(map);
                            shape["marker"].setMap(map);
                            shape["infowindow"].open(map, shape["marker"]);
                            shape["shape"] = road;
                            open_info_window = shape["infowindow"];
                            shape["shape_creater"] = "{{ map.logged_in_user }}";
                            shapes[data] = shape;
                            $("#pac-card").hide();
                            current_shape_id = data;
                            $("input[name~='New_Marker']").prop('checked', false);
                            map.setOptions({draggableCursor: undefined});
                            clear_map_events();
                        } else {
                            alert("Ingen forbindelse, prøv igjen");
                        }
                        return;
                    });
            };

        }
        function delete_shape(shape_id) {

            shape_to_delete = shapes[shape_id];

            $.post("/deleteShape",{
                    shape_id: shape_id
                },
                function(data,status){
                    if (data === "Failed" && status === "success") {
                        alert("Kunne ikke slette, prøv igjen");
                    } else {
                        alert("Slettet");
                        (shapes[shape_id]["infowindow"]).close();
                        (shapes[shape_id]["marker"]).setMap(null);


                        if (shapes[shape_id]["shape"] != undefined) {
                            shapes[shape_id]["shape"].setMap(null);
                        }

                        delete shapes[shape_id];
                        current_shape_id = null;
                        open_info_window = null;

                        handle_outside_bounds_click();
                    }
                });
        }
        function update_shape(shape_id) {
            shape_to_update = shapes[shape_id];

            $.post("/updateShape", {
                title: shape_to_update["title"],
                description: shape_to_update["description"],
                rating: shape_to_update["rating"],
                shape_id: shape_id
            }, function (data, status) {
                if (data == "Failed") {
                    alert("Ingen forbindelse, prøv igjen");
                } else {
                    current_shape_id = null;
                }
                return;
            });

        }

        function handle_outside_bounds_click() {
            if (open_info_window != null) {
                open_info_window.close();
                open_info_window = null;
                map.setZoom(map.getZoom());
                map.setCenter((shapes[current_shape_id]["marker"]).getPosition());
                //current_shape_id = null;
            } else {
                map.fitBounds(new google.maps.LatLngBounds(northeastcorner, southwestcorner));
            }
        }
        function handle_on_close_info_window() {

            if (open_info_window != null) {
                open_info_window.close();
                open_info_window = null;
                $("#pac-card").show();
            }
            if (current_shape_id != null) {
                update_shape(current_shape_id);
            }
            $("#pac-card").show();

        }
        function handle_marker_click(infowindow, marker) {

            if (current_shape_id != null) {
                update_shape(current_shape_id);
            }

            for (var key in shapes) {
                if (shapes[key]["marker"] == marker) {
                    current_shape_id = key;
                }
            }

            if (open_info_window != null) {
                open_info_window.close();
            }
            $("#pac-card").hide();
            infowindow.open(map, marker);
            open_info_window = infowindow;

            // disable fields in info window if the user is not the shape creater
            // enable fields if the user is the map creater or the shape creater
            //$("#title").attr('disabled', false);
            if (shapes[current_shape_id]["shape_creater"] == "{{ map.logged_in_user }}"
                || "{{ map.logged_in_user }}" == "{{ map.creater }}") {
                $("#title").removeAttr('disabled');
                $("#description").removeAttr('disabled');
                $("#rating").removeAttr('disabled');
                $("#delete_btn").removeAttr('disabled');
            } else {
                $("#title").attr('disabled', 'disabled');
                $("#description").attr('disabled', 'disabled');
                $("#rating").attr('disabled', 'disabled');
                $("#delete_btn").attr('disabled', 'disabled');
            }
        }

        function getBoundsZoomLevel(bounds, mapDim) {
            var WORLD_DIM = { height: 256, width: 256 };
            var ZOOM_MAX = 21;

            function latRad(lat) {
                var sin = Math.sin(lat * Math.PI / 180);
                var radX2 = Math.log((1 + sin) / (1 - sin)) / 2;
                return Math.max(Math.min(radX2, Math.PI), -Math.PI) / 2;
            }

            function zoom(mapPx, worldPx, fraction) {
                return Math.floor(Math.log(mapPx / worldPx / fraction) / Math.LN2);
            }

            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();

            var latFraction = (latRad(ne.lat()) - latRad(sw.lat())) / Math.PI;

            var lngDiff = ne.lng() - sw.lng();
            var lngFraction = ((lngDiff < 0) ? (lngDiff + 360) : lngDiff) / 360;

            var latZoom = zoom(mapDim.height, WORLD_DIM.height, latFraction);
            var lngZoom = zoom(mapDim.width, WORLD_DIM.width, lngFraction);

            return Math.min(latZoom, lngZoom, ZOOM_MAX);
        }

        // function to compute the centroid
        function computeCentroid(pointsarray) {
            var number_of_points = pointsarray.length;
            var latitude = 0;
            var longtitude = 0;
            for (var i = 0; i < number_of_points; i++) {
                latitude += pointsarray[i].lat();
                longtitude += pointsarray[i].lng();
            }
            centroid = new google.maps.LatLng((latitude / number_of_points), (longtitude / number_of_points));
            return centroid;
        };

        // function to make a string out of the array of points
        function makestringfromarray(array) {
            string = ""
            for (var i = 0; i < array.length; i++) {
                treat_point = array[i].toString().replace("(","").replace(")","").replace(", "," ");
                string += ","+treat_point;
            }
            string = string.slice(1);
            return string;
        }

        // function to make an array of points out of a string of points
        function makearrayfromstring(str) {
            array = [];
            str = str.split(",");
            for (var i = 0; i < str.length; i++) {
                point = str[i].replace(" ",", ");
                point = point.split(", ")
                point = new google.maps.LatLng(parseFloat(point[0]),parseFloat(point[1]));
                array.push(point);
            }
            return array;
        }

        // function to initilize and load the map from google API map services
        var markers = [];
        var markerCluster;
        function initMap() {

            northeastcorner = new google.maps.LatLng({{ map.northeastcorner }});
            southwestcorner = new google.maps.LatLng({{ map.southwestcorner }});
            bounds = new google.maps.LatLngBounds(northeastcorner, southwestcorner);

            var $mapDiv = $('#Map');
            var mapDim = { height: $mapDiv.height(), width: $mapDiv.width() };
            calculated_zoom = getBoundsZoomLevel(bounds, mapDim);

            map = new google.maps.Map(document.getElementById('Map'), {
                center: computeCentroid([northeastcorner, southwestcorner]),
                //zoom: {{ map.zoom }},
                zoom: calculated_zoom,
                gestureHandling: true, // true to turn on hand scroll or 'none'
                zoomControl: true,
                fullscreenControl: false,
                bounds: bounds,

                mapTypeControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_BOTTOM
                },
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_CENTER
                },
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_CENTER
                },
                fullscreenControl: false
            });

            var rectangle = new google.maps.Rectangle({
                bounds: map.getBounds(),
                clickable: false,
                fillOpacity: 0,
                strokeColor: '#FF0000'
            });
            rectangle.setMap(map);

            var card = document.getElementById('pac-card');
            var input = document.getElementById('pac-input');
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(card);

            var autocomplete = new google.maps.places.Autocomplete(input);

            // Bind the map's bounds (viewport) property to the autocomplete object,
            // so that the autocomplete requests use the current map bounds for the
            // bounds option in the request.
            autocomplete.bindTo('bounds', map);

            autocomplete.addListener('place_changed', function() {

                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    bounds = new google.maps.LatLngBounds(northeastcorner, southwestcorner);
                    if (bounds.contains(place.geometry.viewport.getNorthEast()) && bounds.contains(place.geometry.viewport.getSouthWest())) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        alert("Stedet er ikke inkludert i karet!");
                    }
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }


                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

            });

            google.maps.event.addListener(map,'click',function(event) {
                     if (open_info_window != null) {
                         open_info_window.close();
                         open_info_window = null;
                         $("#pac-card").show();
                         handle_outside_bounds_click()
                     }
                     if (current_shape_id != null) {
                         update_shape(current_shape_id);
                     }

            });

            // event to keep the user inside the map bound, and prevent adding markers outside the target geo area
            google.maps.event.addListener(map,'drag',function () {
                northeast = map.getBounds().getNorthEast(); // LatLng of the north-east corner
                southwest = map.getBounds().getSouthWest(); // LatLng of the south-west corder
                south = southwest.lat();
                north = northeast.lat();
                east = northeast.lng();
                west = southwest.lng();
                fixed_south = southwestcorner.lat();
                fixed_north = northeastcorner.lat();
                fixed_east = northeastcorner.lng();
                fixed_west = southwestcorner.lng();
                if ((east > fixed_west) || (west < fixed_east) || (north > fixed_south) || (south < fixed_north)) {
                    map.fitBounds(new google.maps.LatLngBounds(northeastcorner, southwestcorner));
                    map.setZoom({{ map.zoom }});
                }
            });

            google.maps.event.addListener(map,'bounds_changed',function () {
                if (map.getZoom() < {{ map.zoom }}) {
                    map.fitBounds(bounds);
                    map.setZoom({{ map.zoom }});
                }
            });

            loadShapes();
        }

    </script>

{% endblock %}

{% block content %}

    <!-- Choice panel to the left of the map or hidden/shown on small width devices -->
    <div id="ChoicePanel" class="part">
        <div class="panel-group" id="accordion">

            <div>
                <button type="button" id="show_map_btn" class="btn btn-warning" style="width: 100%">Back to Map</button>
            </div>

            <br>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <strong>Kontrollpanel</strong></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">


                        <div class="slidecontainer" aria-placeholder="Filtrer etter brukere">
                            <label for="Weight">Filtrer figurer etter brukere</label>
                            <select id="filter_users" multiple="true">
                                {% for user in map.map_users %}
                                    <option value="{{ user.username }}">
                                        {{ user.username }},
                                        <br>
                                        {{ user.email }}
                                    </option>
                                {% endfor %}

                            </select>
                        </div>

                        <br>

                        <div class="slidecontainer">
                            <label for="Weight">Linjevekt</label>
                            <input type="range" name="Weight" min="1" max="10" value="5" class="slider" id="Weight">
                        </div>

                        <br>

                        <div class="slidecontainer">
                            <label for="Opacity">Området Opasitet/Synlighet</label>
                            <input type="range" name="Opacity" min="1" max="10" value="5" class="slider" id="Opacity">
                        </div>

                        <br>

                        <div class="slidecontainer">
                            <h4>Clustring/Gruppering av Markører <br> <code>(kun for punkt/kategorier)</code>: </h4>
                            <label class="switch">
                              <input id="clustring_switch" type="checkbox" hidden>
                              <span class="slider_clustring round"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Legg til et <strong>Nytt Punkt</strong></a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">

                        {% for point_cat in points_categories %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="New_Marker" id="{{ point_cat.ID }}" value="Point">
                                    <img class="category_icon" src="../static/icons/{{ point_cat.image_or_color }}">
                                    <p>{{ point_cat.name }}</p>
                                </label>
                            </div>
                        {% endfor %}

                    <!--
                        <div class="radio">
                            <label>
                                <input type="radio" name="New_Marker" value="b">
                                <img class="category_icon" src="../static/Icons/barber.png">
                                <p>Kategori navn 1</p>
                            </label>
                        </div>
                    -->
                    </div>
                </div>
            </div>

            <div class="panel panel-danger">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Legg til et <strong>Nytt Område</strong></a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">

                        {% for area_cat in areas_categories %}
                            <div class="radio">
                              <label>
                                  <input type="radio" name="New_Marker" id="{{ area_cat.ID }}" value="Area">
                                  <div class="color_box" style="background-color: {{ area_cat.image_or_color }}"></div>
                                  <p>{{ area_cat.name }}</p>
                              </label>
                            </div>
                        {% endfor %}

                    <!--
                        <div class="radio">
                            <label>
                              <input type="radio" name="New_Marker" value="e">
                              <div class="color_box" style="background-color: red"></div>
                              <p>Kategori navn 1</p>
                            </label>
                        </div>
                    -->
                    </div>
                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    Legg til en <strong>Ny Vei</strong></a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">

                      {% for road_cat in roads_categories %}
                          <div class="radio">
                              <label>
                                  <input type="radio" name="New_Marker" id="{{ road_cat.ID }}" value="Road">
                                  <div class="color_box" style="background-color: {{ road_cat.image_or_color }}"></div>
                                  <p>{{ road_cat.name }}</p>
                              </label>
                          </div>
                      {% endfor %}

                  <!--
                        <div class="radio">
                            <label>
                              <input type="radio" name="New_Marker" value="l">
                              <div class="color_box" style="background-color: red"></div>
                              <p>Kategori navn 1</p>
                            </label>
                        </div>
                  -->
                  </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Address Search Bar on map -->
    <div class="pac-card" id="pac-card">
        <div id="pac-container" class="input-group" style="margin-bottom: 0;">
            <span id="toggle_panel" class="input-group-addon" style="background-color: #ffffff"><i class="fa fa-cog" style="width: 24px; color: #2a62bc"></i></span>
            <input id="pac-input" class="form-control" type="text" placeholder="Søk her">
        </div>
    </div>

    <!-- a div to hold the map -->
    <div id="Map" class="part"></div>

    <!-- Info_Window on map -->
    <div id="info_window">
        <input type="hidden" name="position" value="">
        <div class='form-group'>
            <label for='title'>Titel:</label>
            <input type='title' class='form-control' id='title' placeholder='Titel' name='title' required>
        </div>
        <div class='form-group'>
            <label for='description'>Beskrivelse:</label>
            <textarea name='description' class='form-control' rows='2' id='description' placeholder='Beskrivelse' required></textarea>
        </div>
        <div class='slidecontainer'>
            <p>Din Vurdering: <span id='currentRating'></span></p>
            <input name='rating' type='range' min='1' max='5' value='2' class='slider' id='rating' required>
        </div>
        <br>
        <button type="button" id="delete_btn" class="btn btn-danger">Slett</button>
    </div>

    <!-- Link to download the map from google API services -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY&libraries=places&callback=initMap">
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

{% endblock %}