{% extends "index.html" %}
{% block stylingblock %}
    <!-- Link to static/stylesheets/error_stylesheet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/error_stylesheet.css') }}">
{% endblock %}

{% block content %}
    <div id="errdiv"class="alert alert-danger">

        <h1 >Obs! En feil har skjedd!</h1>

        {% if msg or Fail %}
            <strong>{{ msg }}{{ Fail }}</strong>
        {% endif %}

        <a href="/">Gå tilbake til hjemsiden</a>

    </div>


{% endblock %}