{% extends "index.html" %}
{% block stylingblock %}

    <style>
        #errdiv{
            height: 600px;
            width:700px;
            border: 1px solid grey;
            border-radius: 5px;
            margin: auto;
            text-align: center;

        }
        #errtxt{
            margin-top: 10%;
            font-size: 1.5em;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="errdiv"class="alert alert-danger">

        <h1 >Oops! an error has occur!</h1>

        <p id="errtxt">{{ session.get('err') }}</p>

    </div>


{% endblock %}