{% extends "index.html" %}
{% block stylingblock %}
    <!-- Link to static/stylesheets/feedback_stylesheet_version_0.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/feedback_stylesheet_version_0.css') }}">

{% endblock %}

{% block scriptblock %}

    <script>
        $(document).ready(function(){
            $("#add_feedback_btn").click(function(){
                $.post("/FeedbackArena",
                {
                  Map_ID: {{ Map_ID }},
                  Content: $('#feedback_box').val()
                },
                function(data,status){
                    if (data != "0" && data != "1" && data != "2" && data != "4" && data != "5") {

                        var d = new Date();
                        month = (d.getMonth()+1)
                        if (month < 10) month = "0"+month
                        now = d.getFullYear()+"-"+month+"-"+d.getDate()+" "
                            +d.getHours()+"-"+d.getMinutes()+"-"+d.getSeconds();

                        var element = "<li class=\"list-group-item\">\n" +
                                        "<div>\n" +
                                        "<p><strong>"+data+" &nbsp</strong><span>"+now+"</span></p>\n" +
                                        "<p>"+$('#feedback_box').val();+"</p>\n" +
                                        "</div>\n" +
                                        "</li>";

                        $('#feedback_list').prepend(element);
                        $('#feedback_box').val("");
                    } else if (data == "0") {
                        alert("Ukjent Feil, prøv igjen")
                    } else if (data == "1") {
                        alert("Feil i databasen, prøv igjen senere")
                    } else if (data == "2") {
                        alert("Du har ikkje tilgang til å dette kartet")
                    } else if (data == "4") {
                        alert("Du er ikke innlogget")
                    }
                });
            });
        });
    </script>

{% endblock %}

{% block content %}

    <div class="container">

        <div class="form-group">
          <label for="comment">Din Tilbakemelding:</label>
          <textarea class="form-control" id="feedback_box" rows="5" id="comment"></textarea>
        </div>

        <button type="button" id="add_feedback_btn" class="btn btn-success btn-block">Send Tilbakemedling</button>
        <button type="button" onclick="window.history.back();" class="btn btn-danger btn-block">Tilbake til mine kart</button>

        <br>

        <ul class="list-group" id="feedback_list">
        {% for feedback in feedbacks %}

            <li class="list-group-item">
              <div>
                  <p><strong>{{ feedback.writer }} &nbsp</strong><span>{{ feedback.date_and_time }}</span></p>
                  <p>{{ feedback.content }}</p>
              </div>
            </li>

        {% endfor %}
        </ul>

    </div>

{% endblock %}