{% extends "index.html" %}

{% block stylingblock %}

    <!-- Link to static/home_stylesheet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/home_stylesheet.css') }}">

{% endblock %}

{% block scriptblock %}

    <!-- font-awesome icon plugin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

    <div class="container">
            {% if session.get("Logged_in") == None %}

                {% if Error != undefined %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Feil!</strong> {{ Error }}.
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row" style="height: 100%">
                    <div class="col-lg-6">
                        <img src="../static/Images/cityshare.png" alt="Bildet ikke funnet">
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <h3>Velkommen til CityShare</h3>
                        <p>
                            En kartapplikasjon som skal gi brukeren muligheten til å markere, analysere og
                            utforske geografiske kart på en helt ny og unik måte.
                            <br>
                            Arbeidet bak dette prosjektet er utført av
                            <strong>Mohammed Z. Guniem</strong> og <strong>Dawit H. Kidane</strong>.
                        </p>
                    </div>
                </div>

            {% else %}

                <div class="col-sm-4 col-xs-12 col- box" onclick="location.href = '/addnewmap';">
                    <p>
                        <i class="fa fa-plus-circle" style="font-size:60px;color:#009bff;opacity:0.7;text-shadow:2px 2px 4px #000000;"></i>
                    <h3>Nytt Kart</h3>
                    </p>
                </div>

                <div class="col-sm-4 col-xs-12 box" onclick="location.href='/showmaps';">
                    <p>
                        <i class="fa fa-map-signs" style="font-size:60px;color:#ff72c0;opacity:0.7;text-shadow:2px 2px 4px #000000;"></i>
                    <h3>Mine Kart</h3>
                    </p>
                </div>

                <div class="col-sm-4 col-xs-12 box">
                    <p>
                        <i class="fa fa-user-circle-o" style="font-size:60px;color:#ffdb2b;opacity:0.7;text-shadow:2px 2px 4px #000000;"></i>
                    <h3>Min Konto</h3>
                    </p>
                </div>

            {% endif %}
    </div>

{% endblock %}