<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CityShare</title>

    <!-- Importing Bootstrap Plugin Library -->
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- font-awesome icon plugin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Link to static/index_stylesheet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/index_stylesheet.css') }}">

    <!-- This is important inorder to to set the viewport width to the width of the device, add this to your HTML file -->
    <!-- insure the webpage is responisve to the design -->
    <meta name="viewport" content="width=device-width">

    {% block stylingblock %}
    {% endblock %}

    {% block scriptblock %}
    {% endblock %}

</head>
<body>

    <header>
        <nav id="nav_bar" class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CityShare</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Hjem</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    {% if session.get("Logged_in") == None %}
                        <li>
                            <form action="/login" method="post" class="navbar-form navbar-right">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Brukernavn">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Passord">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success formbuttons"><span class="glyphicon glyphicon-log-in"></span> Logg inn</button>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary formbuttons" onclick="window.location='/signup'">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Registrer deg
                                    </button>
                                </div>
                            </form>
                        </li>

                    {% else %}
                        <li>
                            <a style="display: inline-block" href="/signout">Log ut <i class="fa fa-sign-out" style="font-size:24px"></i></a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </header>

    {% block content  %}
    {% endblock %}

</body>
</html>