{% extends 'index.html' %}

{% block stylingblock %}

    <style>

            .row {
                margin: 10px;
            }

    </style>

    <!-- slider styling and script-->
    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function () {
           var slider = document.getElementById("rating");
           var output = document.getElementById("currentRating");
           output.innerHTML = slider.value;

           slider.oninput = function() {
               output.innerHTML = this.value;
           }
        });
    </script>

{% endblock %}

{% block scriptblock %}

    <script>

        var currentmarker = 'undefined';

        function initMap() {
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.12),
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                gestureHandling: 'none',
                zoomControl: false,
                fullscreenControl: false
            }
            map = new google.maps.Map(document.getElementById("Map"), mapOptions);

            northeastcorner = new google.maps.LatLng({{ map.northeastcorner }});
            southwestcorner = new google.maps.LatLng({{ map.southwestcorner }});
            bounds = new google.maps.LatLngBounds(northeastcorner, southwestcorner);
            map.fitBounds(bounds);

            google.maps.event.addListener(map,'click',function(event) {
                switch (modeType) {
                    case "point":
                        placeMarker(event.latLng);
                        break;
                    case "road":
                        placeMarker(event.latLng);
                        break;
                    case "area":
                        placeMarker(event.latLng);
                        break;
                    default:
                        break;
                }
            });
        };


        // function to draw a point
        function placeMarker(location) {
            if(currentmarker !== 'undefined') {
                currentmarker.setMap(null);
            }
            marker = new google.maps.Marker({
                position: location,
                map: map
            });
            if (modeType == "area" || modeType == "road") {
                marker.setDraggable(true);
            } else {
                marker.setDraggable(false);
            }
            currentmarker = marker;

            // events to enable drawing on map
            var points = [];
            var lines = [];
            google.maps.event.addListener(currentmarker,'dragstart',function() {
                if (points.length != 0) {
                    points = [];
                }

              if (lines.length != 0) {
              	for (var i = 0; i < lines.length; i++) {
                	lines[i].setMap(null);
                }
              }

            });

            google.maps.event.addListener(currentmarker,'drag',function() {
                points.push(currentmarker.getPosition());
                var line = new google.maps.Polyline({
                    path: points,
                    strokeColor: "#0000FF",
                    strokeOpacity: 0.8,
                    strokeWeight: 2
                });
                lines.push(line);
                line.setMap(map);
            });

            google.maps.event.addListener(currentmarker,'dragend',function() {
                currentmarker.setPosition(computeCentroid(points));
                //currentmarker = "undefined";
            });

            $('#center').val(location);
            $('#title').val('');
            $('#description').val('');
            $('#rating').val('2');
            $('#currentRating').html('2');
        }

        // function to compute the centroid
        function computeCentroid(pointsarray) {
            var number_of_points = pointsarray.length;
            var latitude = 0;
            var longtitude = 0;
            for (var i = 0; i < number_of_points; i++) {
                latitude += pointsarray[i].lat();
                longtitude += pointsarray[i].lng();
            }
            centroid = new google.maps.LatLng((latitude / number_of_points), (longtitude / number_of_points));
            return centroid;
        };

        // function to register the point in the database
        function register() {
            if ($('#center').val() == "") return;
            var mapid = $('#mapid').val();
            var title = $('#title').val();
            var description = $('#description').val();
            var rating = $('#rating').val();
            var center = $('#center').val();
            $.post("/registerShape",
                {map_id: mapid , icon: "the icon url", shape_type: modeType, center: center,
                    area_or_path: "", title: title, description: description, rating: rating},
                function(data,status) {
                    //alert("Data: " + data + "\nStatus: " + status);
                    // Data: OK, Status: success
                    if (data == 'OK' && status == 'success') {
                        alert(modeType+' Er larget');
                        $('#center').val("");
                        $('#center').val(location);
                        $('#title').val('');
                        $('#description').val('');
                        $('#rating').val('2');
                        $('#currentRating').html('2');
                    } else {
                        alert('En feil har skjedd prøv igjen');
                    }
            });
        }

        // function to change the type of drawing
        var modeType = "point";
        function changeType(type) {
            modeType = type
            alert("Legg til "+type+" på kartet.");
        }


    </script>

{% endblock %}

{% block content %}


        <div class="container" style="width: 90%; margin-top: 2em; margin-bottom: 2em">

            <div class="row">
                <div class="col-lg-6">
                    <div id="Map" style="width: 100%; height: 400px; float: left;"></div>
                    <input id="mapid" value="{{ map.mapid }}" hidden>
                    <input id="center" value="" hidden>
                    <input id="area_or_path" value="" hidden>
                </div>

                <div class="col-lg-6">
                    <h2>Legg til:</h2>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" onclick="changeType('point');" href="#showform">Et Punkt</a></li>
                        <li><a data-toggle="tab" href="#showform" onclick="changeType('road');">En Vei</a></li>
                        <li><a data-toggle="tab" href="#showform" onclick="changeType('area');">Et Område</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="showform" class="tab-pane fade in active">
                            <form onsubmit="register(); return false;">
                                <div class="form-group">
                                    <label for="title">Titel:</label>
                                    <input type="title" class="form-control" id="title" placeholder="Titel" name="Title" required>
                                </div>

                                <div class="form-group">
                                    <label for="description">Beskrivelse:</label>
                                    <textarea name="description" class="form-control" rows="2" id="description" placeholder="Beskrivelse" required></textarea>
                                </div>

                                <div class="slidecontainer">
                                    <p>Din Vurdering: <span id="currentRating"></span></p>
                                    <input name="rating" type="range" min="1" max="5" value="2" class="slider" id="rating" required>
                                </div>

                                <br>
                                <button type="submit" class="btn btn-primary">Legg til</button>
                            </form>
                        </div>
                  </div>
                </div>
            </div>

        </form>

        <!--
        <script src="{{url_for('static', filename='scripts/javascripteditmap.js')}}"></script>
        -->

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY&callback=initMap"></script>

    </div>





{% endblock %}