{% extends 'index.html' %}

{% block stylingblock %}

    <style>
        .row {
            height: 50%;
            width: inherit;
            margin: 10px;
        }

        .box {
            display: table;
            margin: 10px;
            height: 175px;
            width: 175px;
            text-align: center;
            border: 1px solid grey;
            border-radius: 20px 20px;
            background-color: #00beff;
        }

        .box:hover {
            border: 5px solid #ffa500;
        }

        .insideBox {
           display: table-cell;
            vertical-align: middle;
        }

    </style>

{% endblock %}

{% block scriptblock %}
{% endblock %}

{% block content %}

    <div class="container">

      <div class="row">
          <div class="col-lg-4 box" onclick="location.href='/ShowMap?mapid={{ mapid }}';">
              <p class="insideBox">Vis Kart</p>
          </div>
          <div class="col-lg-4 box" onclick="location.href='/AddPointToMap?mapid={{ mapid }}';">
              <p class="insideBox">Legg til et sted/punkt</p>
          </div>
          <div class="col-lg-4 box" onclick="location.href='/AddRoadOrAreaToMap?mapid={{ mapid }}';">
              <p class="insideBox">Legg til en vei/område</p>
          </div>
      </div>

    </div>

{% endblock %}