{% extends "index.html" %}

{% block stylingblock %}
         <style>

            .row {
                margin: 10px;
            }

        </style>
{% endblock %}

{% block content %}

    <div class="container" style="width: 90%; margin-top: 2em; margin-bottom: 2em">

        <form id="form" style="position: relative; z-index: 9999;" action='/addnewmap' method="post">

            <div style="text-align: center;">
                <button id="submitbutton" onsubmit="check();" type="submit" class="btn btn-success" style="width: 48%; margin-right: 2px">Bekreft</button>
                <button type="button" onclick="location.href='/'" class="btn btn-danger" style="width: 48%; margin-left: 2px">Avbryt</button>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div id="Map" style="width: 100%; height: 400px; float: left;"></div>
                </div>

                <div class="col-lg-6">

                    <div class="form-group" style="margin: 0px;">
                        <input name="map" type="hidden" value="the map bounds" class="form-control" id="mapbounds">
                    </div>

                    <div class="form-group">
                        <label for="title">Kart Tittel:</label>
                        <input type="title" class="form-control" id="title" placeholder="Tittel" name="title" required>
                    </div>

                    <div class="form-group">
                        <label for="date">Utløpsdato:</label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" required/>
                    </div>

                    <div class="form-group">
                        <label for="description">Kart Beskrivelse:</label>
                        <textarea type="description" id="description" name="description" placeholder="Beskrivelse" class="form-control" rows="5" required></textarea>
                    </div>

                    <div class="input-group">
                        <input id="searchUsers" type="text" class="form-control" placeholder="Søk blant brukere">
                        <div class="input-group-btn">
                            <button id="searchUsersButton" class="btn btn-default" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>

                    <div class="input-group" style="width: 100%; text-align: center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="warning">Registrerte brukere</th>
                                    <th class="success">Lagt til</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <ul id="registered" type="add" class="list-group">
                                            <!--
                                                <li class="list-group-item">bruker 1<span class="badge"><i class="fa fa-plus"></i></span></li>
                                                <li class="list-group-item">bruker 2<span class="badge"><i class="fa fa-plus"></i></span></li>
                                                <li class="list-group-item">bruker 3<span class="badge"><i class="fa fa-plus"></i></span></li>
                                            -->
                                        </ul>
                                    </td>
                                    <td>
                                        <ul id="added" type="remove" class="list-group">
                                            <!--
                                          <li class="list-group-item">bruker 1<span class="badge"><i class="fa fa-minus"></i></span>
                                              <input name="users" value="bruker 1" type="hidden" class="form-control">
                                          </li>
                                          -->
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </form>

        <script src="{{url_for('static', filename='scripts/javascriptnewmap.js')}}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY&callback=initMap"></script>
        <script src="{{url_for('static', filename='scripts/jquerynewmap.js')}}"></script>

    </div>

{% endblock %}