{% extends 'index.html' %}

{% block stylingblock %}
    <!-- Link to static/signup_stylesheet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/signup_and_update_account_stylesheet_version_0.css') }}">
{% endblock %}

{% block content %}

    <h2>Registrer deg</h2>

    <div class="container">
        <form action="/signup" method="post">

        {% if fail %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Feil!</strong> {{ msg }}
            </div>
        {% endif %}

        <div class="form-group">
            <label for="username">Brukernavn:</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Brukernavn" required>
        </div>

        <div class="form-group">
            <label for="password">Passord:</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Passord" required>
        </div>

        <div class="form-group">
            <label for="firstname">Fornavn:</label>
            <input name="firstname" type="text" class="form-control" id="fornavn" placeholder="Ole" required>
        </div>

        <div class="form-group">
            <label for="surname">Etterrnavn:</label>
            <input name="surname" type="text" class="form-control" id="etternavn" placeholder="Nordmann" required>
        </div>

        <div class="form-group">
            <label for="email">e-post:</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="example@uis.no" required>
        </div>

        <div class="form-group">
            <label for="telephone">Telefon:</label>
            <input name="telephone" type="number" class="form-control" id="telephone" placeholder="12345678" required>
        </div>

        <div class="input-group">
            <button type="submit" id="submitbtn" class="btn btn-success">Registrer meg</button>
            <button type="button" id="cancelbtn" onclick="location.href='/'" class="btn btn-danger">Avbryt</button>
        </div>

    </form>
    </div>

{% endblock %}