{% extends 'index.html' %}

{% block stylingblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>

    #maps {
        text-align: center;
    }

    .map_box {
        display: inline-block;
        width: 45%;
        margin: 5px;
        padding: 5px;
        height: 200px;
        border: 1px solid black;
        /*box-shadow: grey 5px 5px;*/
    }

    .map_box:hover {
        box-shadow: orange 5px 5px;
    }

    @media only screen and (max-width: 800px) {
        .map_box {
            width: 90%;
        }
    }

    .map_info_box, .static_map_box {
        vertical-align: middle;
        display: inline-block;
        width: 49%;
        height: 190px;
        overflow: scroll;
    }
    .map_info_box {
        text-align: left;
        padding: 5px;
    }
    strong {
        color: #2a62bc;
    }
    </style>
{% endblock %}

{% block content %}

    <div id="maps">

        {% for map in maps %}

            <div class="map_box" onclick="location.href='/EditMap?mapid={{ map.mapid }}'">
                <img class="static_map_box"  src="https://maps.googleapis.com/maps/api/staticmap?center={{ map.center }}&zoom={{ map.zoom }}&size=400x400&key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY"/>
                <div class="map_info_box">
                    <p><strong>Laget av: </strong>{{ map.creater }}</p>
                    <p><strong>Tittel: </strong>{{ map.title }}</p>
                    <p><strong>Utstedet den: </strong>{{ map.issuedate }}</p>
                    <p><strong>Gyldig til: </strong>{{ map.expirydate }}</p>
                    <p><strong>Beskrivelse: </strong>{{ map.description }}</p>
                </div>
            </div>

        {% endfor %}



    </div>
{% endblock %}