{% extends 'index.html' %}

{% block scriptblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Library Plugin -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Link to jQuery Library -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
    function read_maps() {
        Maps_ids = [];
        {% for map in maps -%}
            Maps_ids.push("{{ map.mapid }}");
        {% endfor %}
        return Maps_ids;
    }
    var Maps_ids = read_maps();
    $(document).ready(function(){

          $("#filter").on("keyup keydown", function() {
            var value = $(this).val().toLowerCase();
            if (value != "") {
                $("#No_result_warning").css("display","none");
                matching_counter = 0;
                for (var i = 0; i < Maps_ids.length; i++) {
                    key = Maps_ids[i];
                    title = ($('#title_map_'+key)).val().toLowerCase();
                    description = ($('#description_map_'+key)).val().toLowerCase();
                    creater = ($('#creater_map_'+key)).val().toLowerCase();
                    expirydate = ($('#expirydate_map_'+key)).val().toLowerCase();
                    issuedate = ($('#issuedate_map_'+key)).val().toLowerCase();

                    if ((title.includes(value)) || (description.includes(value))
                        || (creater.includes(value)) || (expirydate.includes(value))
                        || (issuedate.includes(value))) {
                        $("#Map_"+key).css("display","inline-block");
                        matching_counter++;
                    } else {
                        $("#Map_"+key).css("display","none");
                    }
                }
                if (matching_counter == 0) {
                    $("#No_result_warning").css("display","block");
                }
            } else {
                for (var key in Maps_ids) {
                    $("#Map_"+key).css("display","inline-block");
                }
                $("#No_result_warning").css("display","none");
            }
          });
        });
    </script>

{% endblock %}

{% block stylingblock %}

    <!-- Link to static/view_maps_stylesheet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/view_maps_stylesheet_version_0.css') }}">

{% endblock %}

{% block content %}

    <div class="container" id="Maps_box">

        {% if maps|length < 1 %}

            <div class="alert alert-warning" id="No_result_warning">
              <strong>Varsel</strong> Du har ingen registerte kart på deg.
            </div>

        {% else %}

            <div class="input-group" style="width: 100%">
                <span style="background-color: #ffffff;" class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input class="form-control" name="filter" id="filter" type="text" placeholder="Søk med title, beskrivelse eller dato">
            </div>

            <div class="alert alert-warning" id="No_result_warning" style="display: none;">
              <strong>Varsel</strong> Fant ingen kart som passer til ditt søk.
            </div>


            {% for map in maps %}

                <div class="map_box" id="Map_{{ map.mapid }}">
                    <img class="static_map_box" src="https://maps.googleapis.com/maps/api/staticmap?center={{ map.center }}&zoom={{ map.zoom }}&size=400x400&key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY"/>

                    <div class="btn-group btn-group-justified">
                        <a href="/EditMap?mapid={{ map.mapid }}" class="btn btn-primary">Åpne</a>
                        <a href="/ViewMapResult?mapid={{ map.mapid }}" class="btn btn-success">Analyser</a>
                    </div>

                    <div class="btn-group btn-group-justified">
                        {% if map.Can_Update_Map %}
                            <a href="/UpdateMapDetails?mapid={{ map.mapid }}" class="btn btn-warning">Rediger</a>
                        {% endif %}
                        <a href="/FeedbackArena?mapid={{ map.mapid }}" class="btn btn-info">Tilbakemelding</a>
                    </div>

                    <div class="map_details_box" id="Map_details_id_{{ map.mapid }}">
                        <p><strong>Laget av: </strong>{{ map.creater }}</p>
                        <p><strong>Tittel: </strong>{{ map.title }}</p>
                        <p><strong>Utstedet den: </strong>{{ map.issuedate }}</p>
                        <p><strong>Gyldig til: </strong>{{ map.expirydate }}</p>
                        <p><strong>Beskrivelse: </strong>{{ map.description }}</p>
                        <input type="hidden" id="creater_map_{{ map.mapid}}" value="{{ map.creater }}">
                        <input type="hidden" id="title_map_{{ map.mapid}}" value="{{ map.title}}">
                        <input type="hidden" id="issuedate_map_{{ map.mapid}}" value="{{ map.issuedate }}">
                        <input type="hidden" id="expirydate_map_{{ map.mapid}}" value="{{ map.expirydate }}">
                        <input type="hidden" id="description_map_{{ map.mapid}}" value="{{ map.description }}">
                    </div>
                </div>

            {% endfor %}

        {% endif %}

    </div>

{% endblock %}