{% extends 'index.html' %}

{% block stylingblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Library Plugin -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Link to static/view_maps_stylesheet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/view_maps_stylesheet.css') }}">


{% endblock %}

{% block content %}

    <div class="container">

        {% for map in maps %}

            <div class="map_box">
                <img class="static_map_box img-thumbnail img-responsive"  src="https://maps.googleapis.com/maps/api/staticmap?center={{ map.center }}&zoom={{ map.zoom }}&size=400x400&key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY"/>

                <div class="btn-group btn-group-justified">
                    <a href="/EditMap?mapid={{ map.mapid }}" class="btn btn-primary">Åpne</a>
                    <a href="/ViewMapResult?mapid={{ map.mapid }}" class="btn btn-success">Analyser</a>
                    {% if map.Can_Update_Map %}
                        <a href="/UpdateMapDetails?mapid={{ map.mapid }}" class="btn btn-warning">Rediger</a>
                    {% endif %}
                </div>

                <div class="map_details_box">
                    <p><strong>Laget av: </strong>{{ map.creater }}</p>
                    <p><strong>Tittel: </strong>{{ map.title }}</p>
                    <p><strong>Utstedet den: </strong>{{ map.issuedate }}</p>
                    <p><strong>Gyldig til: </strong>{{ map.expirydate }}</p>
                    <p><strong>Beskrivelse: </strong>{{ map.description }}</p>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}