{% extends 'index.html' %}

{% block stylingblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Library Plugin -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Link to static/view_maps_stylesheet.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Stylesheets/view_maps_stylesheet.css') }}">

{% endblock %}

{% block content %}


    <div id="maps">

        {% for map in maps %}

            <div class="map_box">
                <img class="static_map_box"  src="https://maps.googleapis.com/maps/api/staticmap?center={{ map.center }}&zoom={{ map.zoom }}&size=400x400&key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY"/>
                <div class="map_info_box">
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='/EditMap?mapid={{ map.mapid }}'">Åpne Kartet</button>
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='/ViewMapResult?mapid={{ map.mapid }}'">Analyse Kartet</button>
                    <br>
                    <p><strong>Laget av: </strong>{{ map.creater }}</p>
                    <p><strong>Tittel: </strong>{{ map.title }}</p>
                    <p><strong>Utstedet den: </strong>{{ map.issuedate }}</p>
                    <p><strong>Gyldig til: </strong>{{ map.expirydate }}</p>
                    <p><strong>Beskrivelse: </strong>{{ map.description }}</p>
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}