{% extends 'index.html' %}

{% block stylingblock %}

    <style>

    #Map {
        border: 1px solid #808080;
        box-shadow: 5px 5px #808080;
        margin-top: 5px;
        width: 100%;
        height: 450px;
    }

    </style>

{% endblock %}

{% block scriptblock %}

    <script>

        var currentmarker = 'undefined';

        function initMap() {
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.12),
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                gestureHandling: 'none',
                zoomControl: false,
                fullscreenControl: false
            };
            map = new google.maps.Map(document.getElementById("Map"), mapOptions);

            northeastcorner = new google.maps.LatLng({{ map.northeastcorner }});
            southwestcorner = new google.maps.LatLng({{ map.southwestcorner }});
            bounds = new google.maps.LatLngBounds(northeastcorner, southwestcorner);
            map.fitBounds(bounds);

            var shapes = {};
            {% for shape in shapes %}

                    var marker_{{ shape.shapeid }} = new google.maps.Marker({
                      position: new google.maps.LatLng{{ shape.center }},
                      map: map,
                      title: '{{ shape.title }}',
                    });
                    shapes["marker_{{ shape.shapeid }}"] = "{{ shape.title }}";

                    var infowindow = new google.maps.InfoWindow({
                        content: '{{ shape.title }}'
                    });
                    infowindow.open(map,marker_{{ shape.shapeid }});

                    marker_{{ shape.shapeid }}.addListener('click', function(event) {
                        var infowindow = new google.maps.InfoWindow({
                            content: shapes["marker_{{ shape.shapeid }}"]
                        });
                        infowindow.open(map,marker_{{ shape.shapeid }});
                    });

                if ("{{ shape.shapetype }}" == "Area" || "{{ shape.shapetype }}" == "Road") {
                    // if the shape is road or area


                    var Coordinates = [];

                    var cor_str = "{{ shape.areaorpath }}";

                    var splits = cor_str.split(",");
                    for (var i = 0; i < splits.length -1; i++) {
                        lat_lng = splits[i].split(" ");
                        Coordinates.push(new google.maps.LatLng(parseFloat(lat_lng[0]),parseFloat(lat_lng[1])));
                    }

                    var Path = new google.maps.Polyline({
                      path: Coordinates,
                      strokeColor: "#0000FF",
                      strokeOpacity: 0.8,
                      strokeWeight: 2
                    });

                    Path.setMap(map);



                }

            {% endfor %}

        };


    </script>

{% endblock %}

{% block content %}

        {% if Fail is defined %}

        <div class="alert alert-danger">
          <strong>Obs!</strong> {{ Fail }}.
        </div>


        {% else %}

        <!--
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="Map" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
        -->

            <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div id="Map"></div>
            </div>

            <div class="col-lg-6">

            </div>
        </div>
    </div>


        <!--
        <script src="{{url_for('static', filename='scripts/javascripteditmap.js')}}"></script>
        -->

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACs8v_iZ7Y9-XS3KmTOL_JHvYGkmddERY&callback=initMap"></script>

        {% endif %}



{% endblock %}