#feedbacks{
    height: 25%;
    max-height: 650px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 2%;
    padding-top: 0;

}
#all_feedback{
    height: 25%;
    max-height: 600px;
    overflow: auto;

}
.feedback_box{
    overflow: auto;
    width: 95%;
    max-height: 300px;
    font-size: 1.5em;
    padding: 5px;
    border: 1px solid;
    border-style:outset;
    margin: 2%;

}
#dat{
    font-style: italic;
    font-size: small;
}
#new_feedbacks{
    height: 50%;

    border: 1px solid grey;
    border-radius: 5px;
    overflow: auto;
    margin: 5px;
    text-align: center;
    padding: 15px;
}
h1{
    font-size: 2em;
    border-top: 1px solid grey;
    margin: 0;
}

.map_box {
    display: inline-block;
    width: 100%;
    margin: 5px;
    margin-bottom: 15px;
    padding: 5px;
    height: 200px;
    border: 1px solid black;

}

.map_box:hover {
    box-shadow: orange 5px 5px;
}

@media only screen and (max-width: 770px) {
    .map_box {
        width: 90%;
    }
    #feedbacks{
        height: 25%;
        max-height: 500px;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        border-radius: 5px;
        margin: 5px;
        padding: 2%;
        padding-top: 0;

    }
    #all_feedback{
        height: 25%;
        max-height: 400px;
        overflow: auto;

    }
    #new_feedbacks{
        height: 50%;

        border: 1px solid grey;
        border-radius: 5px;

        margin: 5px;
        text-align: center;
        padding: 15px;
    }
}

.map_info_box, .static_map_box {
    vertical-align: middle;
    display: inline-block;
    width: 49%;
    height: 190px;
    overflow: scroll;
}

.map_info_box {
    text-align: left;
    padding: 5px;
}

strong {
    color: #2a62bc;
}