body {
    height: 100%;
}

#Map {
    height: inherit;
    margin: 0px;
}

#nav_bar {
    height: 10%;
    margin: 0px;
}

#ChoicePanel {
    padding: 10px;
    height: inherit;
    overflow-y: scroll;
}

.part {
    display: inline-block;
    vertical-align: top;
    margin-left:-5px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

/*
.pac-card {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#pac-card, #pac-input, #pac-container {
    width: 100%;
    padding: 5px;
}
*/

.pac-card {
    width: 90%;
    margin: 10px 0 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    height: 40px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    height: 40px;
}

#pac-input:focus {
    border-color: #4d90fe;
    height: 40px;
}


label {
    width: 100%;
    height: 30px;
}

img {
    width: 30px;
    height: 30px;
}

p, img, div.color_box {
    display: inline-block;
}

p {
    vertical-align: middle;
}

div.color_box {
    width: 70px;
    height: 20px;
    border-radius: 25px;
}

#info_window {
    position: absolute;
    z-index: 1;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: lightblue;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider_clustring {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider_clustring:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider_clustring {
    background-color: #2196F3;
}

input:focus + .slider_clustring {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_clustring:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider_clustring.round {
    border-radius: 34px;
}

.slider_clustring.round:before {
    border-radius: 50%;
}