body {
    text-align: center;
}

h2 {
    color: #2a62bc;
}

#submitbutton, #canelbutton {
    width: 49%;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

.btn-info {
    width: 100%;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}