.map_box {
    display: inline-block;
    width: 48%;
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    box-shadow: 5px 5px #d3d3d3;
    border-radius: 50px 20px
}

.glyphicon-search {
    color: #5277ff;
}

@media only screen and (max-width: 800px) {
    .map_box {
        width: 95%;
    }
}

.static_map_box {
    vertical-align: middle;
    display: inline-block;
    width: 95%;
    height: 190px;
    margin: 10px;
    border-radius: 16px 16px 16px 16px;
}

.map_details_box {
    margin: 10px;
}

strong {
    color: #2a62bc;
}

btn {
    font-size: 100%;
}