#maps {
    text-align: center;
}

#map_box {
    display: inline-block;
    width: 45%;
    margin: 5px;
    padding: 5px;
    height: 200px;
    border: 1px solid black;
}

.map_box:hover {
    box-shadow: orange 5px 5px;
}

@media only screen and (max-width: 800px) {
    .map_box {
        width: 90%;
    }
}

.map_info_box, .static_map_box {
    vertical-align: middle;
    display: inline-block;
    width: 49%;
    height: 190px;
    overflow: scroll;
}

.map_info_box {
    text-align: left;
    padding: 5px;
}

strong {
    color: #2a62bc;
}